<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<title>Vai de Bike</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/ui/1.10.4/jqueryui.js"></script>	

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Vai de Bike</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{/}"><i class="glyphicon glyphicon-home">&nbsp</i>Home</a></li>
				<li><a th:href="@{/bicicleta/cadastro}">Bicileta</a></li>
				<li><a th:href="@{/ciclista/list}">Empréstimos</a></li>				
			</ul>
		</div>
	</nav>	
	
	<br/>
	<br/>	
	<div class="text-center">
		<img src="/images/logo.png">
	</div>		
			
</body>
</html>