<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<title>Cadastro de Bicicleta</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="jumbotron text-center">
	  <h1>VAI DE BIKE</h1>	 
	</div>

	<div class="container">
		<h3>Cadastro de bicicleta</h3><br />
		<form method="POST" th:action="@{/cadastraBicicleta}">
		
			<div>
				<fieldset>					
					<div class="form-group col-sm-6">
						<label>Modelo</label>
   						<input class="form-control" id="modelo" name="modelo" required>
   					</div>
					<br />
					<div class="form-group col-sm-6">
						<label>Cor</label>
   						<input class="form-control" id="cor" name="cor" required>
   					</div>
					<br />
					<div class="form-group col-sm-6">
						<label>Status</label>
   						<select class="form-control" id="status" name="status">
							<option value="D">Disponível</option>	
							<option value="I">Indisponível</option>	
						</select>
   					</div>
					<br />
					<div class="form-group col-sm-6">
						<label>Conservação</label>
   						<input class="form-control" id="conservacao" name="conservacao" required type="number" min="0" max="10" step="1">
   					</div>
					<br />	
					<div class="form-group col-sm-6">
						<label>Ponto</label>
   						<select class="form-control" id="ponto" name="ponto">
							<option th:each="p : ${pto}" th:value="${p.id}" th:utext="${p.nome}"></option>		
						</select>
   					</div>
					<br />				
				</fieldset>
			</div>
			<div class="form-group col-sm-6">
			<button type="submit" name="submit" value="value" class="btn btn-primary">Salvar</button>
			</div>		
		</form>
		<br />
		<div class="form-group col-sm-6">
		<a href="/menu" class="btn btn-info" role="button">Voltar</a>
		</div>
	</div>	
</body>

</html>