<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<title>Empréstimo de Bicicletas</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<h3>Ponto</h3>
		<hr>

		<form method="POST" id="formEmprestimo">
			<div th:object="${ponto}">

				<input type="hidden" th:field="*{id}"></input> 
				
				<br />
				<div class="form-group col-sm-6">
					<input th:field="*{nome}" class="form-control" readOnly="readonly"></input>
				</div>

				<div class="form-group col-sm-6">
					<input th:field="*{endereco}" class="form-control" readOnly="readonly"></input>
				</div>
			</div>
		</form>

		<h3>Lista de Bicicletas</h3>
		<hr>

		<div th:unless="${#lists.isEmpty(bicicletas)}">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-sm table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>Modelo</th>
								<th>Cor</th>
								<th>Conservação</th>
								<th><i class="glyphicon glyphicon-cog"></i></th>
							</tr>
						</thead>
						<tbody>
							<tr th:id="${bicicleta.id}" th:each="bicicleta: ${bicicletas}">
								<td th:text="${bicicleta.modelo}"></td>
								<td th:text="${bicicleta.cor}"></td>
								<td th:text="${bicicleta.conservacao}"></td>

								<td>
									<button type="submit" class="btn btn-primary" form="formEmprestimo" th:formaction="@{/reservar/{bicicleta}(id=${bicicleta.id})}">Reservar</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>