<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<title>Vai de Bike</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

</head>

<body>
	<div class="container">

	<!-- <a href="cadastroCiclista">Cadastrar Usuário</a><br />
	<a href="cadastroBicicleta">Cadastrar Bicicleta</a>		-->
	
	<h2>Entrar</h2><br/>
	
	<div id="falhaLogin" class="row">
	<div class="alert alert-danger">Usuário ou senha inválido.</div>
	</div>	
		
	<form method="POST">
		
			<div>
				<fieldset>					
					<div class="form-group col-sm-6">
						<label>Login</label> 
   						<input class="form-control" id="login" name="login" required="">
   					</div>
					<br />
					<div class="form-group col-sm-6">
						<label>Senha</label>
   						<input type="password" class="form-control" id="senha" name="senha" required="">
   					</div>
					<br />
					<div class="col-sm-6">
					<button type="submit" name="submit" value="value" class="btn btn-primary">Entrar</button>
					</div>
				</fieldset>
				
			</div>
	</form>		
	</div>
	
	
			
</body>
</html>