<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<title>Vai de Bike</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link rel="stylesheet" href="/css/custom.css">

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jqueryui.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	

</head>

<body>
	<div class="jumbotron text-center">
	  <h1>VAI DE BIKE</h1>	 
	</div>
	
	<div class="container">
	
	<h2>Menu</h2><br/>
		
	<a href="cadastroCiclista">Cadastrar Usuário</a><br />
	<a href="cadastroBicicleta">Cadastrar Bicicleta</a>		

	</div>		
			
</body>
</html>